<% content_for :page_title do %>
  <%= Spree.t(:AvailableOn) %>
<% end %>
<div id="wrap_week_action">
    <button id="left-button" class="col-md-1 btn-action btn-pre btn btn-primary">
      <i class="icon icon-chevron-left"></i>
    </button>
  <div class="center-bar col-md-8  ">
    <span class="center-bar-text">This Week</span>
    <p class="dayofweek"></p>
  </div>
  <button id="right-button" class=" btn-action btn-next btn btn-primary">
      <i class="icon icon-chevron-right"></i>
    </button>
</div>

<div style="clear:both"></div>
<div id = "available-on-dish"></div>

<div id="container-available-on">
  <div>
    
  </div>
</div>

<script type="text/javascript">

</script>

